@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal-active {
  opacity: 1;
  transform: translateY(0);
}
.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.close-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-image {
  width: 100%;
  height: auto;
  max-width: 800px; /* Set a maximum width */
  max-height: 600px; /* Set a maximum height */
  object-fit: fit; /* Ensures the image covers the entire area without distortion */
}

.lightbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}
  @media (max-width: 768px) {
    .lightbox-thumbnail {
      display: none;
    }
  }